@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.related-videos {
  display: flex;
  flex-direction: column;
}

.button-wrapper {
  height: 100%;
}

input {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0.3rem 0;
}

.related-videos img {
  width: 100%;
}

.video-player-title h1 {
  font-size: 20px;
}

.video-card-text h4 {
  font-size: 16px;
}

.video-card-text p {
  font-size: 12px;
}
